<h2 class="text-secondary">Por País</h2>
<hr />

<div class="row mb-4">
  <div class="col-12">
    <app-search
      (onEnter)="search($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar por país"
    ></app-search>
    <ul class="list-group" *ngIf="showSugested">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let item of countriesSugested"
      >
        <a class="nav-link" [routerLink]="['/detail', item.cca2]">
          {{ item.name.common }}
        </a>
      </li>

      <li
        class="list-group-item list-group-item-action"
        (click)="searchSugested(termino)"
        *ngIf="termino.length"
      >
        Buscar <span class="text-info">"{{ termino }}"</span>
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="error">
  <div class="col-12">
    <div class="alert alert-warning">
      No se encontro nada con el termino <strong>{{ termino }}</strong>
    </div>
  </div>
</div>

<div class="row" *ngIf="!error && listCountries.length">
  <div class="col">
    <app-table [countries]="listCountries"></app-table>
  </div>
</div>
